*,
*::before,
*::after {
    box-sizing:border-box;
}

* {
    margin: 0;
    padding: 0;
    background: rgb(221, 106, 150);
}

body {
    font-family: "Times New Roman", serif;
}

.list li {
    font-size: 20px;
    border: 2px solid black;
    display: block;
    margin: 20px;
    padding: 5px;
    width:fit-content;  
}

.recipe-lists {
    margin-bottom: 30px;
}

.margin-shift {
    margin-left: 20px;
}

h1 {
    border: 10px dotted black;
    padding: 10px;
    width: fit-content;
    margin: 0 auto 10px;
}

img {
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto 20px;
    display: block;
}

h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

p {
    margin-bottom: 30px;
}
