* {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: aqua;
 }
 
 h1 {
     font-size: 50px;
     text-align: center;
     background-color:red;
 }

 h3 {
     text-align: center;
 }

 img {
     height: 500px;
     width: 500px;
 }